<?XML version="1.0"?>
<scriptlet>
<registration
    progid="Poison"
    classid="{10001111-0000-0000-0000-000000000000}" >
    <script language="JScript">
        <![CDATA[
            var shell = new ActiveXObject("WScript.Shell");
            // 64 = Information Icon, "Security Alert" = Title
            shell.Popup("DFIR Challenge: In-Memory Execution Detected.", 0, "Security Alert", 64);
        ]]>
    </script>
</registration>
</scriptlet>
