<?XML version="1.0"?>
<scriptlet>
<registration
    progid="Poison"
    classid="{10001111-0000-0000-0000-000000000000}" >
    <script language="JScript">
        <![CDATA[
            var shell = new ActiveXObject("WScript.Shell");
            shell.Popup("CRITICAL: Forensic Challenge Active", 0, "System Alert", 48);
        ]]>
    </script>
</registration>
<script language="JScript">
    <![CDATA[
        var shell = new ActiveXObject("WScript.Shell");
        shell.Popup("CRITICAL: Forensic Challenge Active", 0, "System Alert", 48);
    ]]>
</script>
</scriptlet>
